/* ? font imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    /* ? main colors */
    --color-blue-primary: #08064C;
    --color-blue-light-saturated: #442EAF;
    --color-cyan-dirty-saturated: #29B5CC;
    --color-cyan-light-saturated: #08b29e;

    /* ? button colors */
    --btn-color-light-green: #06a89f;
    --btn-color-light-grey: #E6E6E6;
    --btn-color-hover-light-blue: #726bf7;
    ;

    /* ? card colors */
    --card-color-light-blue: #5d5db0;
    --card-color-medium-light-blue: #634bd8;

    /* ? text colors */
    --p-color-primary: rgb(215, 219, 247);

    /* ? background colors */
    --bg-color-primary: #222077;
    --bg-color-secondary: #08064C;

    /* ? fonts */
    --font-family-Source-Sans-Variable: 'Source Sans Pro', sans-serif;
    --font-family-Poppins-Sans-Serif: "Poppins", sans-serif;

    /* ? transitions */
    --medium-transition: 0.5s ease;
}

body{
    overflow-x: hidden;
    position: relative;
}

img{
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5{
    color: var(--color-blue-primary);
    font-family: var(--font-family-Source-Sans-Variable);
    font-weight: 700;
    line-height: 1.2;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.6rem;
}

h3{
    font-size: 1.3rem;
}

p{
    margin-top: 20px;
    font-family: var(--font-family-Source-Sans-Variable);
    font-weight: 500;
    font-size: 0.9rem;
}

a{
    font-family: var(--font-family-Poppins-Sans-Serif);
    font-weight: 700;
    font-size: 0.9rem;
}

.btn{
    /* ? colors */
    background: var(--btn-color-light-grey);
    border: 1px solid transparent;
    color: black;
    
    /* ? transition */
    transition: var(--medium-transition);

    /* ? display and padding and width */
    display: block;
    width: fit-content;
    margin-top: 20px;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
}

.btn:hover{
    /* ? colors */
    border-color: black;
    background: transparent;
    color: black;
    box-shadow: 0 1em 3em -0.5em var(--btn-color-hover-light-blue);
}

.btn-primary{
    /* ? colors */
    background: var(--btn-color-light-green);
    color: white;
}

.container{
    /* ? display and padding and width and position */
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 2rem;
}


/* ? about us top */
.about-us-top-container{
    margin-top: 8vh;
    height: 70vh;
    display: grid;
    justify-content: center;
    background: #8882f8;
    overflow: hidden;
    position: relative;
}


.about-us-top-container img{
    position: absolute;
    z-index: 1;
}

.about-us-top-container h1{
    z-index: 2;
    color: white;
    font-size: 3rem;
    margin-top: 150px;
}

.img1{
    width: 150px;
    right: -50px;
    top: 0;
    animation: img1animation 10s linear infinite;
    animation-delay: 1s;

}

.img2{
    width: 200px;
    left: -60px;
    bottom: -30px;
    animation: img2animation 15s linear infinite;
}

@keyframes img2animation {
    0%{
        transform: translateX(0) translateY(0) rotate(0);
    }
    

    25%{
        transform: translateX(10px) translateY(-5px) rotate(40deg);
    }

    50%{
        transform: rotate(25deg);
    }

    75%{
        transform: rotate(-25deg);
    }

    100%{
        transform: translateX(0) translateY(0) rotate(0);
    }
}

@keyframes img1animation {
    0%{
        transform: translateX(0) translateY(0) rotate(0);
    }
    

    25%{
        transform: translateX(10px) translateY(5px) rotate(40deg);
    }

    50%{
        transform: rotate(25deg);
    }

    75%{
        transform: rotate(-25deg);
    }

    100%{
        transform: translateX(0) translateY(0) rotate(0);
    }
}


.ball{
    animation: glow 2s infinite;
    transition: border-radius 0.3s ease;
    background-color: #4c59ea;
    overflow: hidden;
}
  
@keyframes glow {
  0% { box-shadow:0 0 8px #4c59ea, 0 0 8px #4c59ea; }
  50% { box-shadow:0 0 25px #4c59ea, 0 0 23px #4c59ea; }
  100% { box-shadow:0 0 8px #4c59ea, 0 0 8px #4c59ea; }
}

.ball-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(../IMGs/oyemike-princewill-N9fGkZBXNvY-unsplash_thumbnail.png);
    background-size: cover;
    background-position: center;
    pointer-events: none;
    transition: 0.5s ease;
    position: relative;
}

.ball:hover .ball-img{
    scale: 1.2;
    border-radius: 0;
}

.ball p{
    font-size: 2rem;
    position: absolute;
    z-index: 1;
    display: block;
    background-color: rgba(24, 1, 47, 0.7);
    color: white;
    left: 25%;
    bottom: 10%;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}

.ball:hover p{
    opacity: 1;
}


/* ? our story section */
.our-story-container{
    display: grid;
    grid-template-columns: 1fr;
}

.our-story-container img{
    max-width: 300px;
    margin-top: 40px;
}



/* ? Our team section */
.our-team-container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--bg-color-secondary);
}

.our-team-container h1{
    color: white;
}

.our-team-container p{
    color: var(--p-color-primary);
}

.team-cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
    gap: 1rem;
}

.team-card{
    background-color: var(--card-color-medium-light-blue);
    border-radius: 1rem;
    transition: var(--medium-transition);
    
}

.team-card:hover{
    border-color: #726bf7;
    box-shadow: 0 1em 3em -1em #726bf7;
}

.team-card-top{
    height: 270px;
    background-color: #726bf7;
    position: relative;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.team-card-top .img{
    position: absolute;
    height: 100%; 
    transition: var(--medium-transition);
}

.team-card:hover .img{
    scale: 1.1;
}

.team-card:hover .team-card-img{
    scale: 1.1;
    z-index: 1;
}

.team-card .socials{
    display: grid;
    grid-template-columns: 1fr;
    z-index: 2;
    position: absolute;
    right: 1rem;
    top: 0rem;
}

.team-card .socials .social{
    width: 50px;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
}

.team-card .socials .social:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #5e58ca;
}


.team-card-bottom{
    padding: 2rem 2rem;
}

.team-card-bottom h3{
    color: white;
    font-size: 1.6rem;
}

.team-card p{
    color: var(--p-color-primary);
    font-size: 1rem;
    margin-top: 10px;
}






/* ? footer */
/* ? footer */
.footer-container{
    background-color: var(--bg-color-primary);
    display: grid;
    grid-template-columns: 1fr;
}

.footer-container h1,
.footer-container h2,
.footer-container h3,
.footer-container p{
    color: white;
}

.footer-container img{
    width: 20px;
}

.socials{
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

.social{
    background: var(--card-color-medium-light-blue);
    padding: 1.1rem 1.1rem;
    max-width: 60px;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--medium-transition);
    border: 2px solid transparent;
    cursor: pointer;
}

.social:hover{
    border-color: #726bf7;
    background: transparent;
    box-shadow: 0 1em 3em -0.5em #726bf7;
}

/* ? mobile responsive */
@media screen and (min-width: 700px) {

    .container{
        padding: 3rem 3rem;
    }

    .img1{
        width: 200px;
        right: -50px;
        top: 0;
    }
    
    .img2{
        width: 330px;
        left: -60px;
        bottom: -50px;
    }

    .about-us-top-container h1{
        font-size: 5rem;
    }

    /* ? our team */

    .team-cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .team-card .socials{
        top: 1rem;
    }

    /* ? footer */
    .footer-container{
        grid-template-columns: max-content max-content;
        padding: 3rem 3rem;
        justify-content : space-between;
    }

    .socials{
        margin-top: 0px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .our-story-container{
        grid-template-columns: 40% max-content;
        justify-content: space-between;
        gap: 3rem;
    }

    .our-story-container img{
        max-width: none;
        width: 350px;
        margin-top: 0;
    }
    
}

/* ? tablet responsive */

@media screen and (min-width: 1000px) {

    /* ? typography */
    h1{
        /* ? font size */
        font-size: 2.6rem;
    }

    h2{
        /* ? font size */
        font-size: 2.2rem;
    }

    h3{
        /* ? font size */
        font-size: 1.9rem;
    }

    p{
        /* ? font size */
        font-size: 1.2rem;
    }
    
    a{
        /* ? font size */
        font-size: 1.1rem;
        font-weight: 400;
    }

    .team-cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .team-card h3{
        font-size: 1.6rem;
    }

    .team-card p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {

    .team-card .socials{
        right: 0;
    }
    .team-card .social{
        opacity: 0;
        transition: var(--medium-transition);
    }

    .team-card:hover .social{
        opacity: 1;
        transform: translateX(-1rem);
    }

    .team-card .socials .social{
        background-color: rgba(0, 0, 0, 0.2);
    }
}