/* ? font imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    /* ? main colors */
    --color-blue-primary: #08064C;
    --color-blue-light-saturated: #442EAF;
    --color-cyan-dirty-saturated: #29B5CC;
    --color-cyan-light-saturated: #08b29e;

    /* ? button colors */
    --btn-color-light-green: #06a89f;
    --btn-color-light-grey: #E6E6E6;
    --btn-color-hover-light-blue: #726bf7;
    ;

    /* ? card colors */
    --card-color-light-blue: #5d5db0;
    --card-color-medium-light-blue: #634bd8;

    /* ? background colors */
    --bg-color-primary: #222077;
    --bg-color-secondary: #08064C;

    /* ? text colors */
    --p-color-primary: rgb(215, 219, 247);

    /* ? fonts */
    --font-family-Source-Sans-Variable: 'Source Sans Pro', sans-serif;
    --font-family-Poppins-Sans-Serif: "Poppins", sans-serif;

    /* ? transitions */
    --medium-transition: 0.5s ease;
    --all-transition: all 0.5s ease;
}

body{
    overflow-x: hidden;
    position: relative;
    background-color: white;
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5{
    color: var(--color-blue-primary);
    font-family: var(--font-family-Source-Sans-Variable);
    font-weight: 700;
    line-height: 1.2;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.6rem;
}

h3{
    font-size: 2rem;
}

p{
    margin-top: 20px;
    font-family: var(--font-family-Source-Sans-Variable);
    font-weight: 500;
    font-size: 1.2rem;
}

a{
    font-family: var(--font-family-Poppins-Sans-Serif);
    font-weight: 700;
    font-size: 1.2rem;
}

.btn{
    /* ? colors */
    background: var(--btn-color-light-grey);
    border: 1px solid transparent;
    color: black;
    
    /* ? transition */
    transition: var(--medium-transition);

    /* ? display and padding and width */
    display: block;
    width: fit-content;
    margin-top: 20px;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
}

.btn:hover{
    /* ? colors */
    border-color: black;
    background: transparent;
    color: black;
    box-shadow: 0 1em 3em -0.5em var(--btn-color-hover-light-blue);
}

.btn-primary{
    /* ? colors */
    background: var(--btn-color-light-green);
    color: white;
}

.container{
    /* ? display and padding and width and position */
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 4rem;
}


.news-banner{
  margin-top: 8vh;
  height: 80vh;
}

.banner.active{
  display: block;
}

.banner{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: none;
}



.news-article-container{
    padding: 3rem 5rem;
    position: relative;
}

.news{
  display: none;
}

.news.active{
  display: block;
}

.blob1{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 54% 46% 62% 38% / 54% 51% 49% 46% ;
  background: linear-gradient(-90deg, rgb(107, 207, 232), white);
  z-index: -1;
  right: 0;
}

.blob2{
  position: absolute;
  left: 0;
  top: 50%;
  width: 300px;
  height: 300px;
  z-index: -1;
  border-radius: 67% 33% 47% 53% / 55% 57% 43% 45% ;
  background: linear-gradient(50deg, rgb(230, 57, 152), white, white);
}




/* ? carousel container */
.news{
    padding: 0 3rem;
}
.news h1{
    font-size: 4rem;
}

  .carousel-container{ 
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  .slider{
    --items-per-screen: 4;
    display: flex;
    flex-grow: 1;
    transform: translateX(0%);
    transition: 0.3s ease-in-out;
    gap: 1px;
    width: 100%;
  }
  
  .slider > .card{
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    border-radius: 1rem;
    overflow: hidden;
    min-height: 500px;
    background: var(--bg-color-primary);
    flex-grow: 1;
  }

  .slider .card .img-cont{
    width: 100%;
    height: 45%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: red;
    background-size: cover;
    background-position: center;
  }

  .card:nth-child(1) .img-cont,
  .banner1{
    background-image: url(../IMGs/News\ 1.jpg);
  }

  .card:nth-child(2) .img-cont,
  .banner2{
    background-image: url(../IMGs/News\ 2.jpg);
  }

  .card:nth-child(3) .img-cont,
  .banner3{
    background-image: url(../IMGs/News\ 3.jpg);
  }

  .card:nth-child(4) .img-cont,
  .banner4{
    background-image: url(../IMGs/News\ 4.jpg);
  }

  .card:nth-child(5) .img-cont,
  .banner5{
    background-image: url(../IMGs/News\ 5.jpg);
  }

  .card:nth-child(6) .img-cont,
  .banner6{
    background-image: url(../IMGs/News\ 6.jpg);
  }

  .card:nth-child(7) .img-cont,
  .banner7{
    background-image: url(../IMGs/News\ 7.jpg);
  }

  .card .inner-cont{
    padding: 2rem 1rem;
    width: 100%;
    min-height: 100%;
    word-break: break-all;
  }
  
  .card .inner-cont h3{
    color: white;
  }

  .card .inner-cont p{
    color: var(--p-color-primary);
  }
  
  
  
  
  .handle{
    border: none;
    border-radius: 1rem;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease;
    position: absolute;
    border-radius: 50%;
    top: 45%;
  }
  
  .left-handle{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0;
  }
  
  .right-handle{
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .handle:hover{
    background: rgba(0, 0, 0, 0.5);
  }
  
  @media screen and (max-width: 1200px) {
    .slider{
      --items-per-screen: 3;
    }

    .card .inner-cont h3{
        font-size: 1.6rem;
    }
  
    .card .inner-cont p{
      
      font-size: 1.2rem;
      display: flex;
    }

    .card .inner-cont .btn{
      font-size: 1.2rem;
    }
  }
  
  @media screen and (max-width: 800px) {
    .slider{
      --items-per-screen: 2;
    }

    .news-article-container{
      padding: 3rem 2rem;
    }

    .news{
      padding: 0 0rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .slider{
      --items-per-screen: 1;
    }

    .slider .card{
      max-width: none;
      width: 100%;
    }
  }

  




  /* ? footer */
.footer-container{
  background-color: var(--bg-color-primary);
  display: grid;
  grid-template-columns: 1fr;
}

.footer-container h1,
.footer-container h2,
.footer-container h3,
.footer-container p{
  color: white;
}

.footer-container img{
  width: 20px;
}

.socials{
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.social{
  background: var(--card-color-medium-light-blue);
  padding: 1.1rem 1.1rem;
  max-width: 60px;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--medium-transition);
  border: 2px solid transparent;
  cursor: pointer;
}

.social:hover{
  border-color: #726bf7;
  background: transparent;
  box-shadow: 0 1em 3em -0.5em #726bf7;
}


@media screen and (min-width: 700px) {
  .footer-container{
    grid-template-columns: max-content max-content;
    padding: 3rem 3rem;
    justify-content : space-between;
  }

  .socials{
      margin-top: 0px;
      grid-template-columns: repeat(2, 1fr);
  }
}